body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3dac9;
  min-width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list {
  all: initial;
  


}

.item-list {
  width: 570px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list:hover {
  overflow: visible;
}

.add-button {
  color: black;
  margin: 10px;
  background-color: #ffbf00;
  border-radius: 5px;
  border-color: #ffbf00;
  padding: 2px;
  border-width: 4px;
  cursor: pointer;
}

.input-box {
  border-color: #ffbf00;
  margin: 4px;
  border-radius: 5px;
  padding: 2px;
  margin-left: 3.7%;
}

.delete-button {
  background-color: #ffbf00;
  border-color: #ffbf00;
  border-width: 4px;
  margin: 10px;
  cursor: pointer;
  margin-right: 4%;
}

.edit-button {
  background-color: #ffbf00;
  border-color: #ffbf00;
  border-width: 4px;
  margin: 10px;
  cursor: pointer;
  margin-right: 4%;
}

.update-input {
  margin-right: 5%;
}

.main-button {
  display: flex;
  margin-bottom: 30px;
}
